{% extends "base.html" %}
{% block content %}
<h1>Show All Data</h1>

<div class="row mt-4 container w-80 m-auto">
    {% for post in data %}
    <div class="col-sm-3 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{post.id}}</h5>
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.content}}</p>
          <p class="card-text">Author: {{post.author.name}}</p>
          <p class="card-text">Category: 
            {% for cat in post.category.all%}
            <button class="btn btn-primary btn-sm disabled m-1">{{cat.category_name}}</button>
            {% endfor %}
          </p>

          {% if not post.is_complete %}
          <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
          <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Delete</a>
          {% else %}
          <a href="{% url 'complete_post' post.id %}" class="btn btn-success disabled">Complete</a>
          {% endif %}

        </div>
      </div>
    </div>
    {% endfor %}
  </div>


{% endblock %}